<div id="sidebar-wrapper" >
    <ul class="sidebar-nav ml-2">
        <li class="sidebar-brand mb-5 mt-2">
          <img
          src="{{ imgsrc2 }}"
          alt="Loading..." height="100" width="100"
          style="border-radius: 50%; border: 5px solid rgb(56, 72, 94);">
          <a style="font-weight: bold; cursor: pointer;">
            Tomás Traini
          </a>
        </li>
        <li style="margin-top: 30%;">
          <a href="#" id="homeButton" class="text-primary">
            <i class="fa fa-home"></i>
            Home
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            About
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-file" aria-hidden="true"></i>
            Resume
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-book" aria-hidden="true"></i>
            Portfolio
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-phone" aria-hidden="true"></i>
            Contact
          </a>
        </li>
  
    </ul>
  </div>



  <div style="margin-left: 20%; padding-top: 2%;">
    <h1 style="color: rgb(56, 72, 94); font-weight:bold;">ABOUT ME</h1>
    <p>
      I am currently a Ssr. Fullstack developer working at PwC.
      <br>
      In the last 2 years i've been working in a set of projects which have given me a good and trustworthy
      <br>
      level of expertise in the matter, though i'm always trying to learn new and different ways to 
      perform and to constantly improve my skills.
    </p>

    <div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6" >
            <img src="{{ imgsrc1 }}" alt="responsive webite" class="img-fluid">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <h2 style="color: rgb(56, 72, 94); font-weight:bold;" class="typewriter">
              Fullstack developer
            </h2>
            <p>
              I will be leaving all of my basic information below:
              <br>
              <br><i class="fa fa-chevron-right"></i> <b>Birthday</b>: 4th december 2000
              <br><i class="fa fa-chevron-right"></i> <b>Phone</b>: +54 341-282-2237
              <br><i class="fa fa-chevron-right"></i> <b>Country</b>: Argentina
              <br><i class="fa fa-chevron-right"></i> <b>Degree</b>:
              Post-secundary in Software development
              <br><i class="fa fa-chevron-right"></i> <b>Email</b>: tomas.u.traini@gmail.com
            </p>
            <p>

            </p>
          </div>
        </div>
      </div>

    </div>
    <hr>
    <div style=" padding-top: 2%;">
      <h1 style="color: rgb(56, 72, 94); font-weight:bold;">RESUME</h1>

      <!-- Section: Timeline -->
      <section class="py-5">
        <ul class="timeline">
          <li class="timeline-item mb-5">
            <h5 class="fw-bold">Ssr. Software developer</h5>
            <h5 class="fw-bold">PwC</h5>
            <p class="text-muted mb-2 fw-bold">1th January 2023</p>
            <p class="text-muted">
              The main tasks i perform as a software developer are 
            </p>
          </li>

          <li class="timeline-item mb-5">
            <h5 class="fw-bold">Associate Software developer</h5>
            <h5 class="fw-bold">PwC</h5>
            <p class="text-muted mb-2 fw-bold">8th August 2022</p>
            <p class="text-muted">
              Quisque ornare dui nibh, sagittis egestas nisi luctus nec. Sed
              aliquet laoreet sapien, eget pulvinar lectus maximus vel.
              Phasellus suscipit porta mattis.
            </p>
          </li>

          <li class="timeline-item mb-5">
            <h5 class="fw-bold">Software developer</h5>
            <h5 class="fw-bold">Ingenea</h5>
            <p class="text-muted mb-2 fw-bold">24 June 2020</p>
            <p class="text-muted">
              Orci varius natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Nulla ullamcorper arcu lacus, maximus
              facilisis erat pellentesque nec. Duis et dui maximus dui aliquam
              convallis. Quisque consectetur purus erat, et ullamcorper sapien
              tincidunt vitae.
            </p>
          </li>

          <li class="timeline-item mb-5">
            <h5 class="fw-bold">Earned the first million $!</h5>
            <h5 class="fw-bold">Freelance</h5>
            <p class="text-muted mb-2 fw-bold">15 October 2020</p>
            <p class="text-muted">
              Nulla ac tellus convallis, pulvinar nulla ac, fermentum diam. Sed
              et urna sit amet massa dapibus tristique non finibus ligula. Nam
              pharetra libero nibh, id feugiat tortor rhoncus vitae. Ut suscipit
              vulputate mattis.
            </p>
          </li>
        </ul>
      </section>

    </div>

  </div>